p {
  color: #464646 !important;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
